.auth__link-login {
  margin-top: 15px;
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  transition: opacity .5s;

}

.auth__link-login:hover {
  opacity: .6;
}
