.popup__input {
  /* margin-top: 30px; */
  padding-bottom: 13px;
  box-sizing: border-box;
  height: 27px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: #000000;
}

/* .popup__input::-webkit-input-placeholder {
  color: #C4C4C4;
}
.popup__input::-moz-placeholder {
  color: #C4C4C4;
}
.popup__input::-ms-input-placeholder {
  color: #C4C4C4;
} */

.popup__input::placeholder {
  color: #C4C4C4;
}

.popup__input:first-of-type {
  margin-top: 54px;
}

@media screen and (max-width: 576px) {
  .popup__input:first-of-type {
    margin-top: 75px;
  }
}

