.register__submit-button {
  margin: 0 auto;

  margin-top: 181px;
  width: 358px;
  min-height: 50px;
  background:  #FFFFFF;
  border: none;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #000000;
  transition: opacity .5s;
  cursor: pointer;
}

.register__submit-button:hover {
  opacity: .85;
}

@media screen and (max-width: 425px) {
  .register__submit-button {
    width: 100%;
    margin-top: 138px;

  }

}
