.info__profile-post {
  max-width: 336px;
  margin-top: 16px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #FFFFFF;
  grid-row: 2/3;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  align-self: start;
}


@media screen and (max-width: 984px) {
  .info__profile-post {
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  .info__profile-post {
    max-width: 282px;
    margin-top: 14px;
    align-self: center;

  }
}
