.login__submit-button {
  margin: 0 auto;

  margin-top: 181px;
  min-width: 358px;
  min-height: 50px;
  margin-bottom: 52px;
  background:  #FFFFFF;
  border: none;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #000000;
  transition: opacity .5s;
  cursor: pointer;
}

.login__submit-button:hover {
  opacity: .8;
}
